<!DOCTYPE html>
<html lang="it">
  <head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/map.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/fontawesome.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/solid.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />

    <title>La Vecchia Cervia</title>
  </head>
  <body style="background-image: linear-gradient(coral, #f56f42)">
  	<header></header>
  	<div class="main-content"></div>
	
  	  {{{body}}}
  	<footer></footer>

    <!-- Optional JavaScript --> 
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/popper.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>

    
    <script type="text/javascript">
    	$(document).ready(() => {
    		$('header').load('html/navbar.html', ()=>{
            $.getScript("javascripts/login.js");
            $.getScript("javascripts/register.js");
            $('#loggedName').text("{{name}}");
            if("{{name}}" != "non loggato")
              $(".d-none-logged").hide();
            else
              $(".d-none-guest").hide();
          });
    		//$('div.carousel').load('html/carousel.html');
    		$('footer').load('html/footer.html');
    	})
    </script>

  </body>
</html>
